*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(#e9e2ec, #e6bfdb);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5c242a;
    font-size: 10px;
    cursor: default;
    height: 100vh;
}

.main-title {
    font-weight: 700;
    font-size: 3rem;
    margin: 2.5rem auto 5rem;
    text-shadow: 5px 5px 10px #5c242a;
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opponents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    height: 30px;
}

.headline {
    flex: 1;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.headline-active {
    animation: glowing 1s linear infinite;
}

@keyframes glowing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    border: 10px solid #9d5981;
    border-radius: 10px;
    background: #9d5981;
    box-shadow: 10px 5px 25px #5c242a;
    height: 400px;
    width: 400px;
}

.square{
    font-size: 4rem;
    font-weight: 700;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.turns {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 1rem auto; 
    font-weight: 400;
    font-size: 1rem;    
}

.turn {
    opacity: 0;
    transition: 500ms ease-in-out;
}

.turn-active {
    opacity: 1;
}

.start-button {
    font-size: 1.5rem;
    font-weight: 500;
    color: #5c242a;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    padding: 2.5px 5px;
    background: #e6bfdb;
    border: 5px solid  #9d5981;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.start-button:hover {
    transform: scale(1.2);
    background: transparent;
}

.copyright {
    position: fixed;
    bottom: 5rem;
    right: 10rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

.form {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background: #e6bfdb;
    width: 400px;
    height: 400px;
    top: 25%;
    border: 10px solid  #9d5981;
    border-radius: 10px;
    color: #5c242a;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 2.5rem;
    transform: scale(0);
    transition: 250ms ease-in-out;
}

.form.form-active {
    transform: scale(1);
}

.cancel-button {
    position: absolute;
    top: 5px;
    right: 15px;
    font-weight: 700;
    font-size: 2.5rem;
    color: #5c242a;
    background: none;
    border: none;
    outline: none;
}

.cancel-button:hover {
    transform: scale(1.2);
    color: #9d5981;
    cursor: pointer;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 25px;
}
.text-input{
    margin-top: 5px;
    border: 3px solid  #9d5981;
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
    font-size: 1rem;
    outline: none;
}

input::placeholder {
    font-weight: 400;
    font-size: 1rem;
    color: #5c242a;
    background: white;
}

.radio {
    display: flex;
    justify-content: space-evenly;
}

.radio label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    color: #5c242a;
    background: #e6bfdb;
    border: 5px solid  #9d5981;
    border-radius: 5px;    
    margin: 20px auto 0;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}

.submit-button:hover {
    transform: scale(1.1);
    background: #e9e2ec;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e6bfdb;
    pointer-events: none;
    opacity: 0;
    transition: 250ms ease-in-out;
}

#overlay.overlay-active {
    pointer-events: all;
    opacity: 0.75;
    z-index: 1;
}

.color-change {
    color: red;
}

.bubble {
    border-radius: 50%;
    position: absolute;
}

#bubble1 {
    background: #5c242a;
    width: 100px;
    height: 100px;
    left: 5%;
    bottom: 0%;
    animation: flowing 5s linear infinite;
}

#bubble2 {
    background: #9d5981;
    width: 50px;
    height: 50px;
    left: 15%;
    bottom: 0%;
    animation: flowing 3s linear infinite;
}

#bubble3 {
    background: #e6bfdb;
    width: 75px;
    height: 75px;
    left: 25%;
    bottom: 0%;
    animation: flowing 4s linear infinite;
}

#bubble4 {
    background: #9d5981;
    width: 75px;
    height: 75px;
    left: 67.5%;
    bottom: 0%;
    animation: flowing 5s linear infinite;
}

#bubble5 {
    background: #e6bfdb;
    width: 50px;
    height: 50px;
    left: 77.5%;
    bottom: 0%;
    animation: flowing 4s linear infinite;
}

#bubble6 {
    background: #5c242a;
    width: 100px;
    height: 100px;
    left: 92.5%;
    bottom: 0%;
    animation: flowing 3s linear infinite;
}

@keyframes flowing {
    0% {
        bottom: 0%;
        opacity: 0;
    }

    50% {
        bottom: 50%;
        opacity: 1;
    }

    100% {
        bottom: 100%;
        opacity: 0;
    }
}